.error_message {
  @apply relative left-0 top-0 ml-2 mt-2;
  @apply text-xs text-rose-400;
  @apply transition-all duration-300;
}

.input_label {
  @apply relative left-0 top-0 mb-2 ml-2;
  @apply text-xs text-gray-400;
  @apply transition-all duration-300;
}

.input_group {
  @apply flex rounded-lg border bg-white;
  position: relative;
}

.input_text {
  @apply w-full rounded-lg border bg-white px-6 py-4;
  @apply border-none focus:outline-none;
  @apply text-gray-500;
}

.input_text + * {
  color: rgb(209, 213, 219);
}

.input_text:focus + * {
  color: rgb(16, 185, 129);
}

.input_text:not([type='email']) ∼ span:hover * {
  color: rgb(16, 185, 129);
  cursor: pointer;
}

.button {
  @apply w-full rounded-md bg-gradient-to-r from-green-400 to-green-600 text-center;
  @apply py-3 text-lg font-semibold text-gray-50;
}

.button:hover {
  @apply border border-green-400 bg-gradient-to-r from-gray-100 to-gray-300;
  @apply text-gray-700;
}

.edit_button {
  @apply inline-flex items-center justify-center rounded-md border border-transparent bg-green-400;
  @apply px-4 py-2 text-sm font-medium text-white shadow-sm;
}

.edit_button:focus {
  @apply outline-none;
}

.edit_button:hover {
  @apply bg-green-600;
}

.save_button {
  @apply inline-flex items-center justify-center rounded-md border border-transparent bg-green-400;
  @apply px-4 py-2 text-sm font-medium text-white shadow-sm;
}

.save_button:focus {
  @apply outline-none;
}

.save_button:hover {
  @apply bg-gray-200;
}

.cancel_button {
  @apply inline-flex items-center justify-center rounded-md border border-transparent bg-gray-200;
  @apply px-4 py-2 text-sm font-medium text-gray-800 shadow-sm;
}

.cancel_button:focus {
  @apply outline-none;
}

.cancel_button:hover {
  @apply bg-gray-400;
}

/* apply button style */
.apply_button {
  @apply inline-flex cursor-pointer items-center justify-center rounded-md border border-transparent bg-green-400;
  @apply w-full px-4 py-2 text-sm font-medium text-white shadow-sm;
}

.apply_button:focus {
  @apply outline-none;
}

.apply_button:hover {
  @apply bg-green-200 text-gray-700;
}

.apply_button:disabled {
  @apply inline-flex pointer-events-none items-center justify-center rounded-md border border-transparent bg-gray-100;
  @apply px-4 py-2 text-sm font-medium text-gray-400;
}
